html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff6c7;
}

nav {
  background-color: #dbdb34;
  padding: 1rem;
}

hr {
  color: #6ceb6c;
  clear: both;
}

button {
    background: none;
    border: none;
    color: #34345c;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

button::before { content: "["; }
button::after { content: "]"; }

button:hover {
    color: #ff0000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: right;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

nav p a {
  background-color: #93cf23;
  border-radius: 4px;
}

nav a:hover {
  background-color: #b92929;
  border-radius: 4px;
}

.head {
  color: #280068
}

.login_box {
  text-align: center;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 20px;
  background-color: #dbdb34;
  width: 300px;
  overflow: hidden; 
  margin: 0 auto;
}

.error {
  color: #d40707;
}

.error-h {
  color: #949e07;
  font-size: 90px;
}

#auth{
  text-align: center;
  font-size: 50px;
  margin: 20px;
}

#username {
  background-color: #93cf23;
  border-radius: 4px;
}

#username:hover {
  background-color: #b92929;
  border-radius: 4px;
}

.board_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 50px auto;
    padding: 20px;
    width: fit-content;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

.board_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 100px auto;
    padding: 25px;
    width: 400px;
    
    background-color: #d8e734;
    color: #111111;
}

.board_box p {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: #046609;
}

#board {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a9a9a9;
    background-color: #ffffff;
    font-size: 1.1em;
    outline: none;
    border-radius: 0;
}

#board_button {
    width: 100%;
    padding: 12px;
    background-color: #adff50;
    border: 1px solid #8195b0;
    border-right-color: #435a84;
    border-bottom-color: #435a84;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0;
}

#board_button:hover {
    background-color: #26a107;
    color: #ffffff;
}

.greet {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px; 
  
  width: 90%; 
  width: 1400px;
  background-color: #cdf966;
  padding: 20px;
  overflow: auto;
  border: 2px solid #ff854d;
}

.thread-start {
  background-color: #e2ff92;
  border: 1px solid #d9af9e;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  min-width: 500px;
  font-size: 14px;
}

.post-info {
  margin-bottom: 8px;
  display: flex;
  gap: 15px;   
}

.subject {
  color: #0f0c5d;
  font-weight: bold;
}

.poster-name {
  color: #117743;
  font-weight: bold;
}

.reply-to {
  color: #b10e0e;
  font-weight: bold;
}

.post-id, .post-date {
  color: #444;
}

.file-container {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.file-info {
  font-size: 12px;
  margin-bottom: 5px;
}

.post-image {
  max-width: 200px;
  border: 1px solid #ccc;
}

.post-message {
  margin: 0;
  padding: 10px 0;
  white-space: pre-wrap;
}

.post-actions {
  clear: both;
  padding-top: 0px;
  margin-bottom: 0px;
  display: flex;
  gap: 15px;  
}

.post-actions a {
  clear: both;
  padding-top: 10px;
  text-decoration: none;
}

button {
  font-size: 12px;
  cursor: pointer;
}

.new-thread {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ans-src {
  color: #b10e0e;
  text-decoration: none;
}

.ans-src:hover {
  color: #117743;
  text-decoration: underline;
}

.usr-src {
  color: #117743;
  text-decoration: none;
}

.usr-src:hover {
  color: #b10e0e;
  text-decoration: underline;
}

.post-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding-right: 100px;
  
  width: 100%;
  box-sizing: border-box;
}

.comment-box {
  background-color: #e2ff92;
  border: 1px solid #d9af9e;
  padding: 10px;
  display: inline-block;
  min-width: 500px;
  font-size: 14px;

  margin-left: 50px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-comment-box {
  background-color: #e2ff92;
  border: 1px solid #d9af9e;
  padding: 10px;
  display: inline-block;
  min-width: 500px;
  font-size: 14px;

  margin-left: 100px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

#content {
  width: 500px;
  height: 300px;
  font-size: 16px;
  resize: vertical;
}

#description {
  width: 900px;
  height: 200px;
  font-size: 16px;
  resize: vertical;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  font-family: sans-serif;
}
.pagination a, .pagination span {
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}
.pagination .current {
  background-color: #5eff00;
  font-weight: bold;
}
.pagination a:hover {
    background-color: #108800;
}

.user {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px; 
  height: auto;
  
  width: 90%; 
  width: 1400px;
  background-color: #cdf966;
  padding: 20px;
  overflow: auto;
  border: 2px solid #ff854d;
}

.user h1 {
  color: #ff5151;
}

.greentext {
    color: #6b8d14;
}