{% extends 'base.html' %}

{% block content %}

<h1 class="head">Создание треда на <a class="ans-src" href="/board/{{ board }}">"{{ board }}"</a></h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
        {{ form.image.label }}<br>
        {{ form.image(id="photo-input") }}
        <br>
        <img id="preview" src="#" alt="Предпросмотр" style="display:none; max-width: 200px; margin-top: 10px;">
    </div>

    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <p class="error">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <div style="margin-top: 20px;">
        {{ form.file.label }}<br>
        {{ form.file() }}
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>

<script>
    document.getElementById('photo-input').onchange = function (evt) {
        const [file] = this.files;
        if (file) {
            const preview = document.getElementById('preview');
            preview.src = URL.createObjectURL(file);
            preview.style.display = 'block';
        }
    };
</script>

{% endblock %}
